* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: burlywood;
}

.row {
    margin: -10px;
}

.card {
    padding: 10px;
    height: 250px;
    background-color: rgb(241, 185, 213);

    text-align: center;
}

[class*="col-"] {
    padding: 10px;
    border: 1px solid;

}

.row .row .card {
    /* height: 100%; */
    background-color: rgb(214, 100, 134);
    border: 1px solid white;

}

.row .row [class*="col-"] {
}
